@font-face {
  font-family: 'Metal Gear Solid 2';
  src: local('Metal Gear Solid 2'), url('./fonts/MGS2.ttf') format('truetype');
}

@font-face {
  font-family: 'Krona';
  src: local('Krona'), url('./fonts/KronaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MGS2 Menu';
  src: local('MGS2 Menu'), url('./fonts/MGS2MENU.TTF') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


