* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#introDiv {
  display: flex;
  flex-direction: column;
  border: green solid;
  justify-content: flex-start;
}

.bg-video {
  margin: 0 auto;
  overflow:hidden;
  width: 100%;
}

#ourSVG {
  
  position: absolute;
  top: 0;
  left:0;
  height: 100vh;
  width: 100%;
}

#name {
  font-size: 120px;
  font-family: "Metal Gear Solid 2";
  position: absolute;
  top: 48%;
  left:0;
  width: 100%;
  
}

#mask-bg {
  mask: url("#mask")
}

.menuCustom {
  font-family: "MGS2 Menu", sans-serif;
}

@media only screen and (max-width: 425px) {
  .bg-video {
    height: auto;
  }

  
}